.pagination {
  display: block;
  position: relative;
  margin: 20px auto 50px;
  text-align: center;
  li {
    display: inline-block;
    border: $border-smaller solid $grey-dark;
    border-radius: $border-base;
    color: $grey-darker;
    text-align: center;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition: $screen-trans;
    min-width: 30px;
    font-size: $font-size-large;
    line-height: 20px;
    height: 20px;
    &.active, &.disable {
      cursor: not-allowed;
      pointer-events: none;
    }
    &:hover, &:focus, &.active {
      background-color: $grey-darker;
      color: $white;
    }
    &.disable {
      background-color: $grey-dark;
      color: $white;
    }
    &:first-child,
    &:last-child {
      min-width: 35px;
    }
    &:first-child:after {
      content: "<<";
    }
    &:last-child:after {
      content: ">>";
    }
    &:nth-child(2):after {
      content: "<";
    }
    &:nth-last-child(2):after {
      content: ">";
    }
  }
}
