//    Color
//    number from Google-material design

$white:                       #FFFFFF !default;  // White
$black:                       #000000 !default;  // Black

$mid-black:                   #9E9E9E !default;  // Grey-500

$red:                         #C14A3F !default;
$red-light:                   #F44336 !default;  // Red-500
$red-lighter:                 #D9665B !default;
$red-dark:                    #C62828 !default;  // Red-800

$blue:                        #369BD5 !default;

$black-200:                   rgba(0, 0, 0, .2) !default;
$black-300:                   rgba(0, 0, 0, .3) !default;
$black-500:                   rgba(0, 0, 0, .5) !default;
$black-800:                   rgba(0, 0, 0, .8) !default;
$black-900:                   rgba(0, 0, 0, .9) !default;

$white-200:                   rgba(255, 255, 255, .2) !default;
$white-300:                   rgba(255, 255, 255, .3) !default;
$white-500:                   rgba(255, 255, 255, .5) !default;
$white-800:                   rgba(255, 255, 255, .8) !default;

//    Typography
//    font, line-height ...

$font-family:                 "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", Sans-serif, Verdana !default;

$font-size-base:              14px !default;
$font-size-small:             12px !default;
$font-size-large:             16px !default;
$font-size-larger:            18px !default;

$font-size-h1:                24px !default;
$font-size-h2:                20px !default;
$font-size-h3:                $font-size-larger !default;
$font-size-h4:                $font-size-large !default;
$font-size-h5:                $font-size-base !default;
$font-size-h6:                $font-size-small !default;


//    Components
//    padding, margin, border-radius, ...

// width 960 1200

$padding-base-vertical:       6px !default;
$padding-base-horizontal:     12px !default;
$padding-small-vertical:      0 !default;
$padding-small-horizontal:    10px !default;
$padding-large-vertical:      6px !default;
$padding-large-horizontal:    18px !default;
$padding-larger-vertical:     $padding-large-vertical !default;
$padding-larger-horizontal:   $padding-large-horizontal !default;

$border-base:                 4px !default;
$border-small:                3px !default;
$border-smaller:              1px !default;
$border-large:                5px !default;
$border-larger:               10px !default;
$border-half:                 50% !default;

$cursor-enable:               pointer !default;
$cursor-disabled:             not-allowed !default;

//    transition

$screen-trans:                .5s ease !default;
$hover-trans:                 .2s ease !default;
$show-trans:                  .3s ease !default;
