.btn {
  &.inline {
    height: 27px;
    line-height: 25px;
    font-size: $font-size-small;
    color: $white-800;
    background-color: $white-200;
    border: 1px solid $white-800;
    border-radius: $border-base;
    @include pointer-event();
    &:hover, &:focus, &:active {
      background-color: $white-500;
    }
  }
  &.icon {
    @include pointer-event();
    @include bg-img(36px);
  }
}
