.Popover {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  transition: $show-trans;
  .content {
    height: 100%;
    .title, .body {
      position: relative;
      background-color: $black;
      border: $border-smaller solid $white;
      border-radius: $border-base;
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      line-height: 40px;
      flex-shrink: 0;
      color: $white;
      font-size: $font-size-base;
      padding: 10px 20px;
    }
    .body {
      height: 93%;
      padding: 15px 10px;
      overflow: hidden;
    }
    .arrow {
      bottom: 0;
      left: 80%;
      border: $border-larger + 1 solid transparent;
      &, &:after {
        display: block;
        position: relative;
        width: 0;
        height: 0;
      }
      &:after {
        content: '';
        border: $border-larger solid transparent;
        border-top-color: $black;
        left: -10px;
      }
    }
  }
  &.title .content .body {
    height: calc(98% - 40px);
  }
  &[direction=up] {
    &.title .content .body {
      border-radius: 0 0 $border-base $border-base;
    }
    .content {
      .title {
        border-radius: $border-base $border-base 0 0;
        border-bottom: none;
      }
      .arrow {
        border-top-color: $white;
        &:after {
          top: -12px;
        }
      }
    }
  }
  &[direction=down] {
    &.title .content .body {
      border-radius: $border-base $border-base 0 0;
    }
    .content {
      display: flex;
      flex-direction: column-reverse;
      .title {
        border-radius: 0 0 $border-base $border-base;
        border-top: none;
      }
      .arrow {
        left: 13px;
        border-bottom-color: $white;
        &:after {
          top: -8px;
          border-top-color: transparent;
          border-bottom-color: $black;
        }
      }
    }
  }
}
