#SharePop {
  display: block;
  position: fixed;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $black-500;
  transition: $show-trans;
  &.show {
    opacity: 1;
    z-index: 77;
  }
  .share-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6%;
    background-color: $white;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .share-item {
      display: inline-block;
      position: relative;
      margin: 5%;
      flex: 1 1 auto;
      height: 76px;
      line-height: 18px;
      width: 60px;
      font-size: $font-size-base;
      text-align: center;
      color: $mid-black;
      &:before {
        content: "";
        display: block;
        margin: 0 auto 10px;
        height: 50px;
        width: 50px;
        background: no-repeat center;
        background-size: 50px;
      }
      &.wechat {
        .wechat-qrcode {
          display: none;
        }
        &.show {
          .wechat-qrcode {
            display: block;
            position: absolute;
            top: 0;
            left: 102px;
            z-index: 1;
          }
        }
      }
      $icon-list: wechat moments tencent weibo qzone copy;
      @each $icon in $icon-list {
        &.#{$icon}:before {
          background-image: url('/assets/images/icons-share@2x/share-#{$icon}.png');
        }
      }
    }
  }
}
