@mixin text-overflow($width) {
  width: $width;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin textarea-overflow($width, $height, $lines: 2) {
  width: $width;
  height: $height;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;

  display: -moz-box;
  display: -webkit-box;

  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;

  line-clamp: $lines;
  -moz-line-clamp: $lines;
  -webkit-line-clamp: $lines;

  line-height: $height / $lines;

}

@mixin bg-img($width, $height: $width) {
  background: url(//static.missevan.com/system/missevan_icons.png) no-repeat;
  height: $height;
  width: $width;
}

@mixin pointer-event {
  cursor: pointer;
  &.active, &.disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}
