.btn {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: $cursor-enable;
  border: 1px solid transparent;
  border-radius: $border-small;
  margin: 3px;
  box-sizing: border-box;
  transition: color $hover-trans,
              background-color $hover-trans,
              background $hover-trans,
              border-color $hover-trans;
  &.icon {
    @include pointer-event();
    @include bg-img(36px);
  }
}

/*
    $text-color-base, $bg-color-base, $boder-color-base,
    $text-color-hover, $bg-color-hover, $boder-color-hover,
    $text-color-disable: $text-color-hover,
    $bg-color-disable: $bg-color-hover,
    $boder-color-disable: $bg-color-hove
*/
.btn-red {
  @include btn-define($white, $red, $red, $white, $red-lighter, $red-lighter);
}
.btn-white {
  @include btn-define($black, $white, $grey-dark, $black, $grey-dark, $grey-dark, $grey-dark);
}
.btn-black {
  @include btn-define($white, $black, $black, $white, $black-light, $black-light);
}
.btn-grey {
  @include btn-define($grey-darker, $grey, $grey, $grey-darker, $grey, $grey);
}
.btn-more {
  @include btn-define($black-lighter, $grey, $grey-dark, $black-lighter, $grey-darker, $grey-dark);
}
.btn-pm {
  @include btn-define($grey-darker, $grey, $grey-dark, $red, $grey, $red);
}

.btn-base {
  @include btn-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $btn-height-base);
}
.btn-small {
  @include btn-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $btn-height-small);
}
.btn-large {
  @include btn-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $btn-height-large);
}
.btn-larger {
  @include btn-size($padding-larger-vertical, $padding-larger-horizontal, $font-size-large, $btn-height-larger);
}

.btn-text {
  @extend .btn;
  border: none;
  font-size: $font-size-base;
  &.disabled {
    cursor: $cursor-disabled;
    pointer-events: none;
  }
  &.grey {
    color: $grey-darker;
    &:hover, &:focus {
      color: $black;
    }
  }
  &.black {
    color: $black;
    &:hover, &:focus {
      color: $red;
    }
  }
  &.red {
    color: $red;
    &:hover, &:focus {
      color: $red-lighter;
    }
  }
  &.icon {
    &.before:before, &.after:after {
      content: '';
      position: absolute;
      @include bg-img(17px);
    }
    &.before:before {
      left: 5px;
    }
    &.after:after {
      right: 5px;
    }
  }
}

#fold-btn {
  @extend .btn;
  @extend .btn-text.icon.after;
  margin: 10px 0;
  height: 20px;
  width: 50px;
  position: relative;
  font-size: $font-size-base;
  color: $mid-black;
  float: right;
  &:after {
    left: 45px;
    top: 3px;
    width: 20px;
    background-position: -99px -1099px;
  }
  &:before {
    content: '收起';
    width: 40px;
  }
  &.fold-up:after {
    background-position: -99px -1122px;
  }
  &.fold-up:before {
    content: '展开';
  }
  &.search {
    float: none;
    width: 80px;
    &:before {
      right: 10px;
      position: relative;
      content: '收起筛选';
      width: 56px;
    }
    &:after {
      left: 58px;
    }
    &.fold-up:before {
      content: '展开筛选';
    }
  }
}

.btn-attention {
  @extend .btn-red;
  width: 65px;
  &:after {
    content: '关注';
  }
  &.active {
    @extend .btn-grey;
    &:after {
      content: '已关注';
    }
    &:hover {
      padding: 0;
      &:after {
        content: '取消关注';
      }
    }
  }
}

.btn-share {
  @extend .btn;
  @extend .btn.icon;
  &.qzone {
    background-position: -464px -401px;
  }
  &.baidu {
    background-position: -463px -365px;
  }
  &.weibo {
    background-position: -464px -293px;
  }
  &.weixin {
    background-position: -464px -329px;
  }
}
