// Color

$green:                       #5BB335 !default;
$yellow:                      #FDF9CE !default;

$black-light:                 #424242 !default;  // Grey-800
$black-lighter:               #616161 !default;  // Grey-700

$grey-dark:                   #E0E0E0 !default;  // Grey-300
$grey-darker:                 #BDBDBD !default;  // Grey-400
