@mixin text-overflow($width) {
  width: $width;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin textarea-overflow($width, $height, $lines: 2) {
  width: $width;
  height: $height;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -moz-box;                /* Mozilla */
  -moz-box-orient: vertical;
  -moz-line-clamp: $lines;
  display: -webkit-box;             /* WebKit */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  display: box;                     /* As specified */
  box-orient: vertical;
  line-clamp: $lines;
  line-height: $height / $lines;
}

@mixin bg-img($width, $height: $width) {
  background: url(http://static.missevan.com/system/missevan_icons.png) no-repeat;
  height: $height;
  width: $width;
}
